{% extends "base.html" %} {% load static %}
{% block content %}
<div class="container-fluid bg-1 text-center">
      <h3 class="margin">Welcome to our family site!</h3>
      <img src="{% static 'houston-1620802__480.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="Houston buildings">
      <h3>Houston, Texas</h3>
    </div>

<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Quick Links</h3>
  <p>Meals, Shopping and Help!</p>
  <a href="//google.com" class="btn btn-default btn-md">Google</a>
  <a href="//www.doordash.com" class="btn btn-default btn-md">DoorDash</a>
  <a href="//www.amazon.com" class="btn btn-default btn-md">Amazon</a>
</div>


<div class="container-fluid bg-3 text-center">    
    <h3 class="margin">Day Trips</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="{% static 'galveston-720744__480.jpg' %}" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="{% static 'austin-1402097_1280.jpg' %}" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="{% static 'alamo-678138__480.jpg' %}" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
  {% endblock %}
